@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AdminWebpage.Models.TThuoc

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}


<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Trang Chi Tiết Hóa Đơn Bán</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex">
                    <ol class="breadcrumb ms-auto">
                    </ol>
                    
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                    <h3 class="box-title">Xóa Sản Phẩm</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Mã Thuốc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaThuoc)
        </dd>
        <dt class="col-sm-2">
            Tên Thuốc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenThuoc)
        </dd>
        <dt class="col-sm-2">
            Thành Phần
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThanhPhan)
        </dd>
        <dt class="col-sm-2">
            Mã Loại
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaLoaiNavigation.MaLoai)
        </dd>
        <dt class="col-sm-2">
            Ngày Sản Xuất
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgaySx)
        </dd>
        <dt class="col-sm-2">
            Ngày Hết Hạn
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayHh)
        </dd>
        <dt class="col-sm-2">
            Đơn Giá Bán
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DonGiaBan)
        </dd>
        <dt class="col-sm-2">
            Đơn Giá Nhập
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DonGiaNhap)
        </dd>
        <dt class="col-sm-2">
            Số Lượng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class="col-sm-2">
            Trọng Lượng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrongLuong)
        </dd>
        <dt class="col-sm-2">
            Ảnh
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anh)
        </dd>
        
    </dl>

    <form asp-action="DeleteProduct">
        <input type="hidden" asp-for="MaThuoc" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class=" btn btn-success" asp-action="Product">Back to List</a>
    </form>

</div>
</div>
</div>
</div>
</div>
